{% extends '@MyTrip/layout.html.twig' %}

{% block content %}
    <div class="map" data-uk-maps="apiKey:pk.eyJ1IjoibXBrODgiLCJhIjoiY2p6MWN4enhrMDFwbjN0cGlhcmY3a3hpZCJ9.dBwvFla9os7o4UITJdy5ig;" style="height: 100vh; width: 100vw;"></div>
{% endblock %}
