{% if createJourneyForm is defined %}
    <div id="mt-create-journey" class="mt-create-journey uk-modal" data-uk-modal>
        <div class="uk-modal-dialog">
            <div class="uk-position-top-right uk-text-right">
                <button class="uk-margin-right uk-margin-small-left" type="button" data-uk-close></button>
            </div>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">{{ 'app.journey.create.modal.title'|trans }}</h2>
            </div>
            <div class="uk-modal-body">
                {{ form_start(createJourneyForm) }}
                {{ form_end(createJourneyForm) }}
            </div>
        </div>
    </div>
{% endif %}