.map {
  height: 100vh;
  width: 100vw;

  .step {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: $color-primary;
    color: $color-warning;
  }
}