.map {
  height: 100vh;
  width: 100vw;

  .mt-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $color-white;
  }

  .step {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: $color-primary;
    color: $color-warning;
  }
}

.mt-step-edit {
  button.mt-select {
    color: $color-white;
    border: solid 2px $color-white;
  }
}

