services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    MyTripBundle\Controller\:
        resource: '../../Controller'
        public: true
        tags: ['controller.service_arguments']
